<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="http://localhost:8080/view/login/login.css">
        <title>HBM System Login</title>
    </head>
    <body>
        <div id="login-form-container">
            <form>
                <input type="text" placeholder="Username" name="username" id="input-username">
                <br>
                <input type="password" placeholder="Password" name="password" id="input-password">
                <br>
                <button type="button" id="input-submit">Submit</button>
            </form>
        </div>

        <script src="http://localhost:8080/script/login/login.js"></script>
        <script src="http://localhost:8080/script/login/html-control.js"></script>
    </body>
</html>