/* Header */
header {
    width: 95%;
    margin: 10vh auto 5vh auto;
    text-align: center;
    font-size: 55px;
    font-weight: bolder;
    color: #97e0c6;
}

/* Form */
#login-form-container {
    display: block;
}

form {
    display: block;
    width: 250px;
    border: 2px black solid;
    margin: 0 auto;
    padding: 20px 50px;
}

form input {
    display: block;
    margin: 10px auto;
}

#input-submit {
    display: block;
    margin: 0 auto;
    height: 5vh;
}

#input-submit, form input {
    width: 80%;
}