<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/view/dashboard/dashboard.css">
    <link rel="stylesheet" href="http://localhost:8080/view/dashboard/dashboard-header.css">
    <link rel="stylesheet" href="http://localhost:8080/view/general-style.css">
    <script src="http://localhost:8080/script/homepage/check-login-status.js"></script>
    <title>HBM System</title>
</head>
<body>
    <!-- <div id="loading-board"></div> -->
    <header>
        <div id="header-logo">
            HBM System
        </div>
        <div id="header-centre"></div>
        <div id="header-user">
            <div id="name-display"></div>
            <div id="dropdown-container">
                <a href="http://localhost:8080/login">
                    <button id="logout-button">Logout</button>
                </a>
            </div>
        </div>
    </header>
    <button id="patient-redirect-button" onclick="redirectToOtherPage('http://localhost:8080/patient/')">Patient Management</button>

    <!-- Summary Dashboard -->
    <div>
        <div id="queue-container">
            <div id="container-all-queue">
                <div id="container-all-queue-header">
                    <h4>
                        Summary Dashboard
                    </h4>
                </div>
                <div id="container-all-queue-body">
                    <div class="queue-number-display-area">
                        <div class="queue-number-display-area-title">
                            Total Patient In Queue
                        </div>
                        <div id="container-total-patient-in-queue" class="number-container"></div>
                    </div>
                    <div class="queue-number-display-area">
                        <div class="queue-number-display-area-title">
                            General Ward
                        </div>
                        <div id="container-general-ward-queue" class="number-container"></div>
                    </div>
                    <div class="queue-number-display-area">
                        <div class="queue-number-display-area-title">
                            Intensive Care Ward
                        </div>
                        <div id="container-intensive-care-queue" class="number-container"></div>
                    </div>
                    <div class="queue-number-display-area">
                        <div class="queue-number-display-area-title">
                            Infectious Disease Ward
                        </div>
                        <div id="container-infectious-disease-queue" class="number-container"></div>
                    </div>
                </div>
            </div>
            <div id="container-other-info">
                <div class="queue-number-display-area">
                    <div class="queue-number-display-area-title">
                        Total Occupied Wards
                    </div>
                    <div id="container-total-patient-in-ward" class="number-container">
                        <span id="total-patient-in-ward"></span> / <span id="total-ward"></span>
                    </div>
                </div>
                <div class="queue-number-display-area">
                    <div class="queue-number-display-area-title">
                        Patient admission for today
                    </div>
                    <div id="container-total-patient-admission" class="number-container"></div>
                </div>
            </div>
        </div>
        <div id="container-refresh-button">
            <button id="button-refresh" onclick="refreshAllWardData()">Refresh</button>
        </div>
    </div>

    <section>
        <div id="ward-container">
            <div id="ward-info-container"></div>
        </div>
        <div id="patient-info-container">
            <table id="table-patient-info-display">
                <caption>
                    Patient Info
                </caption>
                <tr>
                    <td>
                        Patient Id
                    </td>
                    <td id="patient-id" class="patient-info-content"></td>
                </tr>
                <tr>
                    <td>
                        First Name
                    </td>
                    <td id="first-name" class="patient-info-content"></td>
                </tr>
                <tr>
                    <td>
                        Last Name
                    </td>
                    <td id="last-name" class="patient-info-content"></td>
                </tr>
                <tr>
                    <td>
                        Gender
                    </td>
                    <td id="gender" class="patient-info-content"></td>
                </tr>
                <tr>
                    <td>
                        Category
                    </td>
                    <td id="category" class="patient-info-content"></td>
                </tr>
                <tr>
                    <td>
                        Contact Number
                    </td>
                    <td id="contact-number" class="patient-info-content"></td>
                </tr>
                <tr>
                    <td>
                        Date Of Birth
                    </td>
                    <td id="date-of-birth" class="patient-info-content"></td>
                </tr>
                <tr>
                    <td>
                        Remarks
                    </td>
                    <td id="remarks" class="patient-info-content"></td>
                </tr>
            </table>
            <button id="button-close-patient-info-container">Close</button>
        </div>
    </section>

    <!-- User Info Management -->
    <script src="http://localhost:8080/script/dashboard/user-name-display.js"></script>
    
    <!-- Ward Management -->
    <script src="http://localhost:8080/script/dashboard/ward-management/ward-interface.js"></script>
    <script src="http://localhost:8080/script/dashboard/ward-management/ward-enum.js"></script>
    <script src="http://localhost:8080/script/dashboard/ward-management/ward-function.js"></script>
    <script src="http://localhost:8080/script/dashboard/ward-management/ward-display.js"></script>
    <script src="http://localhost:8080/script/dashboard/ward-management/ward-occupy.js"></script>
    <script src="http://localhost:8080/script/dashboard/ward-management/ward-discharge.js"></script>
    
    <!-- Patient Management -->
    <script src="http://localhost:8080/script/dashboard/patient-data/patient-data.js"></script>
    <script src="http://localhost:8080/script/patient-register/patient-management/patient.js"></script>
    <script src="http://localhost:8080/script/patient-register/patient-management/patient-register-process.js"></script>

    <!-- Queue Management -->
    <script src="http://localhost:8080/script/patient-register/queue-management/queue.js"></script>
    <script src="http://localhost:8080/script/patient-register/queue-management/queue-process.js"></script>
    <script src="http://localhost:8080/script/dashboard/queue-management/queue-display.js"></script>
    
    <!-- Embeded Script -->
    <script>
        const redirectToOtherPage = (url) => {
            window.location.replace(url);
        };
    </script>
    
    <!-- HTML Control Script -->
    <script src="http://localhost:8080/script/dashboard/html-control.js"></script>
</body>
</html>