<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/view/dashboard/dashboard.css">
    <script src="http://localhost:8080/script/homepage/check-login-status.js"></script>
    <title>HBS System Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h2>Hi <span id="name-display"></span>, Welcome to Hospital Bed Management System</h2>
    <div id="ward-container"></div>
    <script src="http://localhost:8080/script/dashboard/name-display.js"></script>
    <script src="http://localhost:8080/script/dashboard/ward-display.js"></script>
</body>
</html>